@page "/product/{ProductId:int}"
@using System.Net.Http.Json
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager

<section class="py-5">
     @if (product == null)
    {
        <p>Loading...</p>
    }
    else
    {
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="/picture/@product.ImageUrl" alt="@product.Name" /></div>
            <div class="col-md-6">
                    <div class="small mb-1">@product.Name</div>
                    <h1 class="display-5 fw-bolder">@product.Name</h1>
                <div class="fs-5 mb-5">
@*                     <span class="text-decoration-line-through">@product.Price</span>
 *@                        <span>@product.Price</span>
                </div>
                    <p class="lead">@product.Description</p>
                    <div class="d-flex">
                        <button class="btn btn-outline-dark flex-shrink-0" type="button" @onclick="NavigateToHome">
                            <i class="bi bi-cart-fill me-1"></i>
                            Trở lại mua sắm.
                        </button>
                    </div>
            </div>
        </div>
    </div>}
</section>
<!-- Related items section-->
 



@code {
    [Parameter]
    public int ProductId { get; set; }

    private Product? product;

    protected override async Task OnInitializedAsync()
    {
        // Fetch product details from the API
        product = await HttpClient.GetFromJsonAsync<Product>($"api/products/{ProductId}");
    }

    private void NavigateToHome()
    {
        Navigation.NavigateTo("/");
    }
}